{%extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}
{% block content %}
<!-- <div class="container">
<div class="row category">
<div class="col-md-4"></div>
<div class="col-md-4"><h1>inspiration</h1></div>
<div class="col-md-4"></div>
</div>
<div class="row category">
<div class="col-md-4"></div>
<div class="col-md-4" ><h1>life hacks</h1></div>
<div class="col-md-4"></div>
</div>
<div class="row category" >
<div class="col-md-4"></div>
<div class="col-md-4" ><h1>tech</h1></div>
<div class="col-md-4"></div>
</div>
<div class="row category">
<div class="col-md-4"></div>
<div class="col-md-4" ><h1>funny</h1></div>
<div class="col-md-4"></div>
</div>
</div> -->
<div class="heading">
<h2>sign up to post your own pitch today!</h2>
<h3>sample pitches</h3>
</div>
{%for entry in entries%}
<div class='col-md-4 pitch'>
  <h3>category:{{entry.category}}</h3>
  <li>{{entry.pitch}}</li>
  <!-- <li>{{uname}}</li> -->
</div>
{%endfor%}
<style>
.category{
  height: 100px;
  text-align: center;
  border-color: black;
  border-style: solid;
}
.pitch{
  text-align: centre;
}
.heading {
  text-align: center;
  color: lightblue;
}

</style>
{% endblock %}
